@page "/Tutoriels"

<h1>Tutoriels</h1>

<div class="btn-group2">

    <button onclick="location.href='https://drive.google.com/open?id=193XECGs6CjL2EbUMJUhmKn_3r9jZu2ae'" type="button">GitHub MAC</button>
    <button onclick="location.href='https://drive.google.com/open?id=1oH6tTfIotSc04gNnfKAPeWU2fQ4Kxbwr'" type="button">GitHub Windows</button>
    <button onclick="location.href='http://www.google.com'" type="button">Csharp</button>
</div>

    @code {
        
        private void GM()
        {
            
        }

        private void GW()
        {
            
        }

        private void Csharp()
        {
            
        }

    }
