@page "/Tutoriels"

<h1>Tutoriels</h1>

<div class="btn-group2">
    <button class="button" @onclick="GM">GitHub Mac</button>
    <button class="button" @onclick="GW">GitHub PC</button>
    <button class="button" @onclick="Csharp">C#</button>
</div>

    @code {
        
        private void GM()
        {
            
        }

        private void GW()
        {
            
        }

        private void Csharp()
        {
            
        }

    }
