@page "/Tutoriels"

<h1>Tutoriels</h1>

<div class="btn-group2">

    <button class="button" @onclick="GW">GitHub PC</button>
    <button class="button" @onclick="Csharp">C#</button>
    <button onclick="location.href='http://www.google.com'" type="button">GitHub MAC</button>
    <button onclick="location.href='http://www.google.com'" type="button">GitHub Windows</button>
    <button onclick="location.href='http://www.google.com'" type="button">Csharp</button>
</div>

    @code {
        
        private void GM()
        {
            
        }

        private void GW()
        {
            
        }

        private void Csharp()
        {
            
        }

    }
